---
import Main from "@/layouts/main.astro"
import {zSigninValues} from "@/lib/auth"
import {asfValidate} from "asf:actions"
import {actions} from "astro:actions"
import Form from "./_form.svelte"

const result = Astro.getActionResult(actions.auth.signin)
const sv = await asfValidate(Astro.request, result, zSigninValues)
---

<Main>
  <Form client:load {sv} />
</Main>
